<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.haxe.lime.game"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="30" />
    <application android:label="Syncra Game" android:icon="@drawable/icon">
        <activity android:name="org.haxe.MainActivity"
            android:label="Syncra Game"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
